* {
    padding: 0;
    margin: 0;
}

html,
body {
    height: 100%;
    margin: 0;
}
.container {
    background-color: lightblue;
    height: 600px;
    width: 800px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.square {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkgoldenrod;
    height: 50px;
    width: 50px;
}


.count {
    font-size: 25px;
}

.stage-is-hidden {
    display: none;
}

.main-stage {
    height: 100vh;
}

.stats {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.players {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.player {
    font-size: 14px;    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-setup {
    display: flex;
    height: 40px;
    margin: 5px;
    justify-content: space-evenly;
}
